body, html {
    padding: 0;
    margin: 0;
	height: 100%;
}

.global-wrap {
    display:    block;
    position:   relative;
    top:        0;
    left:       0;
    width:      100%;
    min-height: 100%;
    margin:     auto;
	font-family: "Open Sans", sans-serif;
    font-weight: 300;
	letter-spacing: 1px;
}

.navigation-wrap {
    display:    block;
    width:      98%;
    margin:     0 auto;
    z-index:    11;
    padding-bottom: 10px;
    font-family: "Dream Orphans", sans-serif;
}

.nav-logo-wrap {
    width: 100%;
    text-align: center;
    padding: 45px 0 35px 0;
}

#nav-logo {
    width: 500px;
    margin: 0 auto;
}

.navigation {
    width:      	100%;
    margin:     	auto;
    font-size:  	.9em;
	letter-spacing: 3px;
	left:			0;
	right:			0;
	background-color: white;
}

.navigation a {
    padding: 0 20px;
    margin: 0;
	line-height: 18px;
    vertical-align: middle;
    text-decoration: none;
    border-right: solid thin #781000;
}

.navigation a:link,
.navigation a:visited,
.navigation a:focus,
.navigation a:active {
    color: #781000;
    text-decoration: none; 
}

.navigation a:hover {
    /*color:  #202020;*/
    text-decoration: underline;
    cursor: pointer;
}

.navigation a img {
	height: 18px;
	vertical-align: middle;
}

#navigation-links {
	display: block;
	position: relative;
	width: 100%;
	border-bottom: solid thin #737373;
	border-top:    solid thin #737373;
	padding: 0;
	background-color: white;
	z-index: 11;
	line-height: 20px;
	vertical-align: middle;
	font-weight: 600;
}

#navigation-links li {
    display: inline-block;
    vertical-align: middle;
    transition: .3s background-color;
    padding: 10px 0;
    margin: 0;
}

.noborders {
    border-right: none !important;
}

#navigation-links li:hover {
    /*background-color: rgba(0, 0, 0, .05);*/
    /*background-color: #e0e0e0;*/
}

#navigation-links ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#navigation-links li ul {
    text-align: left;
    position: absolute;
    display: none;
    width: inherit;
    margin-top: 10px;
    transition: .2s display;
    background-color: rgba(240, 240, 240, .80);
}

#navigation-links li ul a {
    margin: 0;
}

#navigation-links li ul li {
    display: block;
    margin: 5px 0;
    height: auto;
}

#navigation-links li ul li:hover {
    background-color: transparent;
}

#navigation-links li:hover ul {
    display: block;
}

.nohighlight {
    background-color: transparent !important;
}

.nav-left {
	display: inline-block;
	float: left;
}

.nav-right {
	display: inline-block;
	float: right;
}

#mad-logo {
    margin-top: 50px;
    height: 150px;
	z-index: 1;
}

.text-center {
    text-align: center;
}

.text-justify {
	text-align: justify;
}

.section-wrap {
	width:	900px;
	margin: 35px auto 0 auto;
    padding-bottom: 64px;
}

.section {
    display:    block;
    position:   relative;
    margin:     10px 0 25px 0;
	height:		auto;
}

.section-title {
	color: #555555;
	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: 2px;
    font-family: "Dream Orphans", sans-serif;
    /*text-align: center;*/
}

.page-title {
    text-align: center;
}

.title-date {
	color: #808285;
	font-size: .7em;
	font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.section-content {
    margin: 25px 0;
	color: #808285;
}

.post-preview-wrap {
    display:    block;
    position:   relative;
    width:      100%;
    border:     solid thin black;
    margin:     10px 0;
}

.post-preview-location {
    padding:    10px;
}

.post-preview-title {
    padding:    5px 10px;
    border-top: solid thin black;
}

.post-preview-content {
    padding:    10px;
    border-top: solid thin black;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.trip-preview-wrap {
    display:    block;
    position:   relative;
    width:      100%;
    border:     solid thin black;
    margin:     10px 0;
}

.trip-preview-location {
    padding:    10px;
}

.trip-location {
    padding:    0 10px;
}

.trip-post-preview {
    margin-top: 20px;
}

.trip-photo-block {
    max-height: 250px;
    overflow: hidden;
}

.trip-photo-block img {
    width: 100%;
}

.footer {
    display:    block;
    position:   absolute;
    bottom:     0;
    padding:    15px 0;
    width:      100%;
    font-size:  0.8em;
    background-color:   darkgray;
}

.mad-link,
.mad-link:link,
.mad-link:visited,
.mad-link:focus,
.mad-link:active {
    color: inherit;
    text-decoration: none; 
}

.mad-link:hover {
    cursor: pointer;
}

.read-more-wrap {
    margin-top: 10px;
    text-align: right;
}

.read-more {
    color: #00004d !important;
}

.read-more:hover {
    background-color: rgba(204, 204, 255, 0.4) !important;
}
