body, html {
    padding: 0;
    margin: 0;
	height: 100%;
}

.global-wrap {
    display:    block;
    position:   relative;
    top:        0;
    left:       0;
    width:      100%;
    min-height: 100%;
    margin:     auto;
	font-family: 	"Pontano Sans", sans-serif;
	letter-spacing: 1px;
}

.navigation-wrap {
    display:    block;
    width:      100%;
    z-index:    11;
    padding-bottom: 10px;
}

.nav-logo-wrap {
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

#nav-logo {
    width: 500px;
    margin: 0 auto;
}

.navigation {
    width:      	100%;
    margin:     	auto;
    font-size:  	.9em;
	letter-spacing: 2px;
	left:			0;
	right:			0;
	background-color: white;
}

.navigation a {
    padding: 0 20px;
	line-height: 18px;
    vertical-align: middle;
    text-decoration: none;
}

.navigation a:link,
.navigation a:visited,
.navigation a:focus,
.navigation a:active {
    color: #808285;
    text-decoration: none; 
}

.navigation a:hover {
    color:  #202020;
    cursor: pointer;
}

.navigation a img {
	height: 18px;
	vertical-align: middle;
}

#navigation-links {
	display: block;
	position: relative;
	width: 100%;
	border-bottom: solid thin #737373;
	border-top:    solid thin #737373;
	padding: 0;
	background-color: white;
	z-index: 11;
	line-height: 20px;
	vertical-align: middle;
	font-weight: bold;
}

#navigation-links li {
    display: inline-block;
    vertical-align: middle;
    transition: .3s background-color;
    padding: 10px 0;
}

#navigation-links li:hover {
    background-color: #e0e0e0;
}

#navigation-links ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

#navigation-links li ul {
    text-align: left;
    position: absolute;
    display: none;
    width: inherit;
    margin-top: 10px;
    background-color: #e0e0e0;
}

#navigation-links li ul a {
    margin: 0;
}

#navigation-links li ul li {
    display: block;
    margin: 5px 0;
    height: auto;
}

#navigation-links li:hover ul {
    display: block;
}

.nohighlight {
    background-color: transparent !important;
}

.nav-left {
	display: inline-block;
	float: left;
}

.nav-right {
	display: inline-block;
	float: right;
}

#mad-logo {
    margin-top: 50px;
    height: 150px;
	z-index: 1;
}

.text-center {
    text-align: center;
}

.text-justify {
	text-align: justify;
}

.section-wrap {
	width:	900px;
	margin: auto;
    padding-bottom: 64px;
}

.section {
    display:    block;
    position:   relative;
    margin:     10px 0 25px 0;
	height:		500px;
}

.section-title {
	color: #555555;
	font-size: 1.4em;
	margin-bottom: 10px;
	font-weight: bold;
	letter-spacing: 2px;
}

.title-date {
	color: #808285;
	font-size: .6em;
	font-weight: normal;
}

.section-content {
	color: #808285;
}

.footer {
    display:    block;
    position:   absolute;
    bottom:     0;
    padding:    15px 0;
    width:      100%;
    font-size:  0.8em;
    background-color:   darkgray;
}
