{%- extends "base.html" %}
{%- import "macros/macros.html" as macros %}

{%- block navigation %}
{%- include "admin/navbar.html" %}
{%- endblock %}

{%- block content %}
    <div class="section-wrap">
        {%- if not current_user.is_authenticated %}
        You need to login to view this page
        <div class="section">
            <a href="{{ url_for('security.login') }}">
                <div class="button" style="display:inline-block;">
                    Login
                </div>
            </a>
        </div>
        {%- else %}
        {%- block authenticated_content %}
        <div class="section">
            <div class="section-content">
                {%- call macros.render_form(admin_form, back_url=url_for(".admin_display", admin_type=admin_form._path), enctype=enctype) %}
                {%- endcall %}
            </div>
        </div>
        {%- endblock %}
        {%- endif %}
    </div>
{%- endblock %}
