{% extends "base.html" %}

{% block content %}
        <div class="section-wrap">
            <div class="section text-justify">
                <div class="section-title">ABOUT MAD MEANDERINGS</div>
				<div class="section-content">
                    Let's just put in some random text to show that this is a paragraph
                    about Mad Meanderings, and about Korin &amp; Jake and such. This is
                    greaaaaaaat.
				</div>
            </div>
        </div>
{% endblock %}
