{% extends "base.html" %}

{% block content %}
        <div class="section-wrap">
            <div class="section text-justify">
                <div class="section-title page-title">ABOUT MAD MEANDERINGS</div>
				<div class="section-content">
                        We are Jake and Korin Nabozny. We are filling these pages with our short stories, tall tales and endless,
                        epic adventures.
                </div>
				<div class="section-content">
                    In 2014, in the midst of planning our wedding, we made a “no-matter- what” decision to uproot our lives
                    to Seattle, Washington. We were blessed with a few vacations to Europe and internships in Colorado
                    during our time in college – enough time to spark our love for adventure. After college we settled in the
                    Detroit area for a while. While Michigan is a beautiful state, it didn’t have the big mountains, trails,
                    ocean and lakes we were eager to get lost in. Sooo… when Korin was offered a job at a big Architecture
                    firm in downtown Seattle, we went for it!... sort of.
                </div>
				<div class="section-content">
                    See, here’s the thing with us – nothing ever works out smoothly, or in ANY sort of organized fashion, but
                    it always work out for the better! As goes one of our favorite Irish mantras, “fu** it, it’ll be grand!”
                    Within two weeks of the big job offer and only six months before our big day, we were moving Korin
                    across the country to settle a life in Seattle. Meanwhile, Jake (still in Detroit) hunted for jobs that would
                    bring him back to his bride.
                </div>
				<div class="section-content">
                    Just weeks before our wedding, Jake was offered an awesome techy job in Pioneer Square, Seattle.
                    Phew! By then we’d spent 6 months apart aside from the occassional visit.
                </div>
				<div class="section-content">
                    Our big day came and it was amazing chaos! Korin didn’t sleep the night before the wedding. The
                    groomsmen were tasked with ALL of the decorating (including mowing the venue lawn). Our sweet
                    pastor nearly forgot the part with the rings. All this to stay it was perfect for us; beautiful, ridiculous,
                    messy madness – the best day of our lives. Check out more on that here: and here:
                </div>
				<div class="section-content">
                    On the next trip across the country, Jake came to stay! And so began our mad meanderings in
                    Washington state and beyond.
                </div>
				<div class="section-content">
                    We are Jake and Korin, an engineer and architect<br>
                    Amature hikers, campers, backpackers, photographers and musicians.<br>
                    Explorers. Creatives. Spontaneous aventurers.<br>
                    These are our mad meanderings.
                </div>
            </div>
        </div>
{% endblock %}
